#events .info-title {
    transition: all 0.1s linear;
}

#events .info-title:hover {
    color: #FFB830;
}
#events {
    background: linear-gradient(to bottom,#68EACC 0%,#497BE8 100%);
    
}
#events h1{
    color: white;
}

/* #events .carousel-inner {
    padding: 0px 3rem;
} */

#events .carousel-control-prev {
    margin-left: -3rem;
}
  
#events .carousel-control-next {
    margin-right: -3rem;
}

#events .info-title {
    height: 90px;
}

#events .info-image {
    height: 500px;
}

#events .info-image .image-container {
    height: 300px;
}