#contact-form {
    background-color: whitesmoke;
    border-radius: 10px;
}

#contact-inner {
    background-color: white;
    border-radius: 10px;
}
#contact input.form-control{
    background: white;
}
#contact h2.text-center.fw-bold{
    color: #0D3483;
}